<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>

<form method="POST" action="/make-employee">

    <label for="employee_number">Enter employee ID</label>
    <input type="text" id="employee_number" name="id" />
    <br>
    <label for="employee_name">Enter name</label>
    <input type="text" id="employee_name" name="name">
    <br>
    <label for="employee_job">Enter job function</label>
    <input type="text" id="employee_job" name="job">
    <br>
    <label for="manager_id">Enter the id number of the manager</label>
    <input type="text" id="manager_id" name="manager">
    <br>
    <label for="hire-date">Enter the hire date</label>
    <input type="date" id="hire-date" name="hiredate">
    <br>
    <label for="employee_salary">Enter the employee's salary</label>
    <input type="text" id="employee_salary" name="salary">
    <br>
    <label for="employee_commission">Enter the employee's commission</label>
    <input type="text" id="employee_commission" name="commission">
    <br>
    <label for="department_id">Enter the department id number</label>
    <input type="text" id="department_id" name="department">
    <br>
    <button type="submit" name="submit">submit</button>
</form>

</body>
</html>