<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
    <h1>An overview of our departments</h1>

    <table>
        <tr>
            <th>Department number</th>
            <th>Department name</th>
            <th>Department location</th>
        </tr>

        <tr th:each="department : ${departments}">
            <td id="no" th:text="${department.getDeptno()}"></td>
            <td id="name" th:text="${department.getDeptName()}"></td>
            <td id="location" th:text="${department.getLocation()}"></td>
        </tr>
    </table>
</body>
</html>
